// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header{
    background-color: blanchedalmond;;
}

h2{
    color: $white;
}

#main-app a:not(.ant-layout-sider-children ul li a) {
    /*color: $white;*/
    color: #008037;
}

.sidebar{   
    min-height: calc(100vh - 50px);
}

.sidebar .nav a{
    color: $white;    
}

.sidebar .nav a.active{
    font-weight: bold;
    color: #18b159;
}

.widht-95{
    width: 95%;
}

#main-app .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #008037;
}

#main-app .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active{
    color: #008037;

}
#main-app .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after{
    border-bottom: 2px solid #008037;
}

button.ant-btn-primary{
    background: #008037;
    border-color: #008037;
}

button.ant-btn-primary:hover{
    background: #06a74b;
    border-color: #06a74b;
}